{% extends 'base.html' %}
{% block content %}
<style type="text/css">
  .s{
    color: #ffffff;
  }
</style>
<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div class="banner-text text-center">
    {% if error %}
    <h1> {{ error }} </h1>
      <p>Your username or password did not match. Please try again.</p>
    {% endif %} 
    {% if err %}
    <h1 style="font-size:30px;" > {{ err }} </h1>
      <p><b><a href="{% url 'login' %}">Login</a> to proceed</b></p>
    {% else %}  
    <h5 style="font-size:30px;color: #ffffff;margin-bottom: 30px;">Add Questions for {{ username }}</h5>
  
  <form method="post" action="">
      {% csrf_token %}
      <input type="hidden" name="Site" value ="{{ site }}" />           
      <!-- <input type="radio" name="Site" value="2" > Spoj              -->
      <!-- <input type="radio" name="Site" value="3" >Coderbyte<br><br> -->
      <input style="margin: 5px;" type="hidden" name="username"  size="30 " value="{{ username }}" />  <br>
      <input style="margin: 5px;" type="text" name="contest_code"  size="30 " autofocus placeholder="contest_code"/>  <br>
      <input style="margin: 5px;" type="text" name="question_code"  size="30 " autofocus placeholder="question_code"/>  <br>
      <input style="margin: 5px;" type="text" name="result"  size="30 " autofocus placeholder="result"/>  <br>
      <input style="margin: 5px;" type="text" name="language"  size="30 " autofocus placeholder="language"/>  <br>
      <button style="margin: 30px;" type="submit" class='btn btn-default' >User Details</button>
  </form>
  {% endif %}
</div>
</div>
</div>
{% endblock %}