{% extends 'base.html' %}
{% block content %}
<style type="text/css">
  .s{
    color: #ffffff;
  }
</style>
<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div class="banner-text text-center">
    {% if error %}
    <h1> {{ error }} </h1>
      <p>Your username or password did not match. Please try again.</p>
    {% endif %} 
    {% if err %}
    <h1 style="font-size:30px;" > {{ err }} </h1>
      <p><b><a href="{% url 'login' %}">Login</a> to proceed</b></p>
    {% else %}  
    {% if err1 %}
      <h1 style="font-size:30px;" > {{ err1 }} </h1><br>
    {% endif %}

    <h5 style="font-size:30px;color: #ffffff;margin-bottom: 30px;">Add User</h5>
  
  <form method="post" action="">
      {% csrf_token %}
      <input type="radio" name="Site" value ='1' autofocus placeholder="codechef" checked> Codechef           
      <input type="radio" name="Site" value="2" > Spoj             
      <input type="radio" name="Site" value="3" >Coderbyte<br><br>
      <input style="margin: 5px;" type="text" name="username"  size="30 " autofocus placeholder="Username"/>  <br>
      <input style="margin: 5px;" type="text" name="name"  size="30 " autofocus placeholder="Name"/>  <br>
      <input style="margin: 5px;" type="text" name="rank"  size="30 " autofocus placeholder="Rank"/>  <br>
      <input style="margin: 5px;" type="text" name="institute"  size="30 " autofocus placeholder="Institute"/>  <br>
      <input style="margin: 5px;" type="text" name="country"  size="30 " autofocus placeholder="Country"/>  <br>
      <button style="margin: 30px;" type="submit" class='btn btn-default' >Add User</button>
  </form>
  {% endif %}
</div>
</div>
</div>
{% endblock %}