<section class="banner" role="banner">
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" href="{% url 'home' %}" style="color:#80D941; ">Home</a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="{% url 'home' %}#services" style="color: #80D941;letter-spacing: 2px;font-size: 13px;">Services</a></li>
          <li><a href="{% url 'home' %}#intro" style="color: #80D941;letter-spacing: 2px;font-size: 13px;">About</a></li>
          <!-- <li><a href="#works">Works</a></li> -->
          <li><a href="{% url 'home' %}#teams" style="color: #80D941;letter-spacing: 2px;font-size: 13px; ">Our Team</a></li>
          <li><a href="{% url 'home' %}#testimonials" style="color: #80D941;letter-spacing: 2px;font-size: 13px;">Testimonials</a></li>
          <!-- <li><a href="#contact">Contact</a></li> -->
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>