<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {% url 'users' as users %}
          {% url 'ranks' as ranks %}
          {% url 'questions' as questions %}
          <li class="nav-item">
            <a {% if request.path == users %} style="color: #D7C30F" {% endif %} class="nav-link" href="{% url 'users' %}">Users</a>
          </li>
          <li class="nav-item">
            <a {% if request.path == ranks %} style="color: #D7C30F" {% endif %} class="nav-link " href="{% url 'ranks' %}">Ranks</a>
          </li>
          <li class="nav-item">
            <a {% if request.path == questions %} style="color: #D7C30F" {% endif %} class="nav-link " href="{% url 'questions' %}">Questions</a>
          </li>
          
      </div>
    </nav>
