{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Ranks</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
    <link href="{% static 'css/boot.css' %}" rel="stylesheet">
<!-- <link rel="stylesheet" href="{% static 'css/main.css' %}"> -->

    <!-- Custom styles for this template -->
       <link href="{% static 'css/dash.css' %}" rel="stylesheet">
    <link href="{% static 'css/grid.css' %}" rel="stylesheet">

  </head>

  <body>
  <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">CD</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'submissions' %}">Submissions</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'ranks' %}">Ranks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Help</a>
            </li>
          </ul>
        </div>


      </nav>
    </header>
    <div class="container">
        <br><br>
      <h1>Ranks</h1>
      <!-- <h5>This is a place where u will get the details about the users of every site <br><p>Total : {{ total }}</p> </h5><br> -->
            
          <form method="POST" action="{% url 'ranks' %}">
            {% csrf_token %}
              <input style="margin: 5px;" type="text" name="site_id"  size="8" autofocus placeholder="Site_ID"/>             
              <input style="margin: 5px;" type="text" name="username"  size="20" autofocus placeholder="Username"/>                          
              <input style="margin: 5px;" type="text" name="institute"  size="20" autofocus placeholder="Institute"/>             
              <input style="margin: 5px;" type="text" name="country"  size="20" autofocus placeholder="Country"/>             
            <button style="margin: 30px;" type="submit" class='btn btn-default' >OK</button>
          </form>
          <div class="table  table-responsive">
            <table class="table table-striped table-hover ">
              <thead >
                <tr>
                  <th>Site</th>
                  <th>Rank</th>
                  <th>Username (Institute)</th>
                  <th>Country</th>
    
                </tr>
              </thead>
              <tbody>
                  {% for x in data %}
                <tr>
                  <td>{{ x.0 }}</td>
                  <td>{{ x.1 }}</td>
                  <td><h6><b>{{ x.3 }}</b></h6><br><span style="font-size: 10px;">{{ x.4 }}</span></td>
                  <td>{{ x.2 }}</td>
                </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
  </body>
</html>
