{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>User Data</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
    <link href="{% static 'css/boot.css' %}" rel="stylesheet">
<!-- <link rel="stylesheet" href="{% static 'css/main.css' %}"> -->

    <!-- Custom styles for this template -->
       <link href="{% static 'css/dash.css' %}" rel="stylesheet">
    <link href="{% static 'css/grid.css' %}" rel="stylesheet">
  </head>

  <body>
{% include 'navbar.html' %}

    <div class="container">
        <br><br>
      <h1>User Data</h1>
      <h5>This is a place where u will get the details about the users of every site <br><p>Total : {{ total }} </p> </h5><br>
            
          <form method="POST" action="{% url 'users' %}">
            {% csrf_token %}
              <input type="text" name="site"  size="20" autofocus placeholder="Site_ID"/>             
              <input type="text" name="username"  size="20" autofocus placeholder="Username"/>             
              <input type="text" name="contest"  size="20" autofocus placeholder="Contest Code"/>             
              <input type="text" name="question"  size="20" autofocus placeholder="Question Code"/>             
              <input type="text" name="result"  size="20" autofocus placeholder="Result"/>             
              <input type="text" name="lang"  size="20" autofocus placeholder="Language"/>             
            <button style="margin-left: 40px;" type="submit" class='btn btn-default' >OK</button>
          </form>

          <div class="table-responsive">
            <table class="table table-striped ">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Site_Id</th>
                  <th>Site</th>
                  <th>Username</th>
                  <th>Contest Code</th>
                  <th>Question Code</th>
                  <th>Result</th>
                  <th>Language</th>
                </tr>
              </thead>
              <tbody>
                  {% for x in data %}
                <tr>
                  <td>{{ x.3 }}</td>
                  <td>{{ x.1 }}</td>
                  <td>{{ x.0 }}</td>
                  <td>{{ x.2 }}</td>
                  <td>{{ x.4 }}</td>
                  <td>{{ x.5 }}</td>
                  <td>{{ x.7 }}</td>
                  <td>{{ x.6 }}</td>
                </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
  </body>
</html>
